body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #55fff1 0%, #e236b7 100%);
}
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom:0 ;
  left: 0;
  z-index: -1;
}
.Tilt {
  background: linear-gradient(89deg, #55fff1 0%, #e006aa 100%); /* w3c */
}
#main{
    display: grid;
    grid-template-areas: 
      "header header header"
      "nav article ads"
      "address address footer";
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 1fr 600px 1fr;
    grid-gap: 10px;
    height: 100vh;
   
      margin: 0;
      
      }
    footer, article, nav {
      padding: 20px;
      /* background: blue; */
    }
    header {
        text-align: bottom;
    }
   
    #pageHeader {
      grid-area: header;
      /* position: fixed; */
      width: 100vw;
      /* height: 10vh; */
      display: inline-flex; 
      /* width:auto; 
      height:auto; */
      
      background-color:yellow;
         
    }
    .inlines {
      display: inline;
      padding: 20px;
    }
   
    .push {
        margin-left: auto;
        display: inline;
      padding: 20px;
    }
    #mainNav { 
      grid-area: nav; 
      }
    #mainArticle { 
      grid-area: article;      
      }
    
    #siteAds { 
      grid-area: ads; 
    }
    #comaddress {
      grid-area: address;
    }
    #pageFooter {
      grid-area: footer;
    }
    address {
      display: block;
      font-style: italic;
    }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
